<%- include("partials/header") %>
    <%- include("partials/navbar") %>
        <div class="row oneDrink">
            <div class="col-12 drinkTitle d-md-none">
                <h1>
                    <%= drink.name %>
                </h1>
            </div>
            <div class="col-12 col-md-4">
                <div class="row drinkImage">
                    <img src="<%= drink.image %>" alt="">
                </div>
                <div class="row drinkIngredients">
                    <ul>
                        <% drink.ingredients.forEach(function(ingredient){ %>
                            <li>
                                <%= ingredient.name %> &nbsp; &nbsp;
                                    <span style="float: right;"> <%= ingredient.quantity %></span>
                            </li>
                            <% }) %>

                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row drinkTitle d-none d-md-flex">
                    <h1>
                        <%= drink.name %>
                    </h1>
                </div>
                <div class="row drinkMethod py-5">
                    <ol>
                        <% drink.method.forEach(function(method){ %>
                            <% if(method !== ""){ %>
                                <li>
                                    <%= method %>
                                </li>
                                <% } %>
                                    <% }) %>
                                        <li>Enjoy!</li>
                    </ol>
                </div>
                <% if(drink.deletable){ %>
                    <div class="row editDeleteDrink">
                        <div class="col-md-6 updateButton">
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal">Edit</button>
                        </div>
                        <div class="col-md-6 deleteButton">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </div>
                    </div>
                    <% } %>

            </div>
        </div>

        <!-- === Modal HTML === -->
        <div class="modal" id="updateModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit
                            <%= drink.name %>?</h5>

                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to change this masterpiece?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" data-dismiss="modal" aria-label="Close">Of course not</a>
                        <form class="deleteForm" action="/drinks/<%= drink.catagory %>/<%= drink._id %>/edit" method=GET>
                            <button class="btn btn-danger">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete
                            <%= drink.name %>?</h5>

                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this masterpiece?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" data-dismiss="modal" aria-label="Close">Of course not</a>
                        <form class="deleteForm" action="/drinks/<%= drink.catagory %>/<%= drink._id %>?_method=DELETE" method=POST>
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include("partials/footer") %>