<%- include("partials/header") %>
    <%- include("partials/navbar") %>
        <div class="row oneDrink">
            <div class="col-12 drinkTitle d-md-none">
                <h1>
                    <%= drink.name %>
                </h1>
            </div>
            <div class="col-12 col-md-4">
                <div class="row drinkImage">
                    <img src="<%= drink.image %>" alt="">
                </div>
                <div class="row drinkIngredients">
                    <ul>
                        <% drink.ingredients.forEach(function(ingredient){ %>
                            <li>
                                <%= ingredient.name %> &nbsp; &nbsp;
                                    <%= ingredient.quantity %>
                            </li>
                            <% }) %>

                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row drinkTitle d-none d-md-flex">
                    <h1>
                        <%= drink.name %>
                    </h1>
                </div>
                <div class="row drinkMethod">
                    <ol>
                        <% drink.method.forEach(function(method){ %>
                            <% if(method !== ""){ %>
                                <li>
                                    <%= method %>
                                </li>
                                <% } %>
                                    <% }) %>
                                        <li>Enjoy!</li>
                    </ol>
                </div>
            </div>
        </div>
        <%- include("partials/footer") %>